{% extends 'base.html' %}

{% block content %}
<h3>Clinic Details</h3>
<div id="clinic-info"></div>
<button id="edit-clinic-btn" class="btn btn-primary">Edit Clinic Info</button>

<!-- <h3>Procedures</h3> -->
<!-- <ul id="procedures-list"></ul> -->

<h3>Doctors</h3>
<table id="doctorsTable" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Office Address</th>
            <th>Schedule</th>
            <th>Procedures</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/clinic_detail.js"></script>
{% endblock %}